@model Pixel.FixaBarnkalaset.Web.Models.ArrangementDetailsViewModel

<div class="ui main container pxl-block">
    <h2 class="ui medium header">@Html.ActionLink(Model.CityName, "Index")</h2>
    <h1 class="ui huge header">@Html.DisplayFor(m => m.Name)</h1>
    
    <div class="ui stackable two column grid">
        <div class="row">
            <div class="nine wide left floated column typography-body">
                <img class="ui fluid image pxl-details-page-cover-image" src="@Model.CoverImage" />
                <p class="typography-premable">@Html.DisplayFor(m => m.Pitch)</p>
                @Html.Raw(Model.Description)
            </div>
            <div class="five wide right floated column">
                <iframe height="250"
                        width="100%"
                        frameborder="0"
                        style="border: 0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBLKgpfR9yUKR-Fwwb7yBGDoFVgRzFIxZ4&q=@Model.Latitude.ToString().Replace(",", "."),@Model.Longitude.ToString().Replace(",", ".")"
                        allowfullscreen></iframe>
                <div class="ui medium header">Kontaktuppgifter</div>
                <p>
                    @Html.DisplayFor(m => m.StreetAddress)<br />
                    @Html.DisplayFor(m => m.PostalCode) @Html.DisplayFor(m => m.PostalCity)<br />
                    @Html.DisplayFor(m => m.PhoneNumber)<br />
                    @Html.DisplayFor(m => m.EmailAddress)<br />
                </p>
                <p><a href="@Model.Website">@Model.Website</a></p>
            </div>
        </div>
    </div>
</div>