@model Pixel.FixaBarnkalaset.Web.Models.ArrangementsIndexViewModel

<div class="container pxl-public-page pxl-arrangements-index-page">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Hem</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.CityName</li>
        </ol>
    </nav>

    <h1>Barnkalas i @Html.DisplayFor(m => m.CityName)</h1>
    <p class="lead mb-4">Här hittar du de bästa barnkalasen i @Model.CityName. Ett enkelt sätt att ge ditt barn ett fantastiskt kalas med sina kompisar utan att behöva städa och fixa hemma!</p>

    @if (Model.Arrangements.Any())
    {
        <select id="typeFilter" class="form-control mb-3">
            <option value="">Filtrera på typ av barnkalas</option>
            @foreach (var type in Model.Arrangements.GroupBy(a => a.Type).OrderBy(g => g.Key).Select(g => new { Name = g.Key, Count = g.Count() }))
            {
                <option value="@type.Name">@type.Name (@type.Count)</option>
            }
        </select>

        <p class="mb-3">Visar <span id="arrangementCount">@Model.Arrangements.Count()</span> barnkalas</p>

        <div class="row pxl-arrangements-index-page__arrangements">
            @foreach (var arrangement in Model.Arrangements)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5 pxl-arrangement" data-type="@arrangement.Type">
                    <a href="@Url.Action("Details", new {citySlug = Model.CitySlug, arrangementSlug = arrangement.Slug})">
                        <div class="card">
                            <div class="image lazy" data-src="@(arrangement.CoverImage ?? "/images/balloons-1869790.jpg")"></div>
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => arrangement.Name)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(m => arrangement.Type)</h6>
                                <p class="card-text">@Html.DisplayFor(m => arrangement.Pitch)</p>
                            </div>
                        </div>
                    </a>
                    @if (!string.IsNullOrWhiteSpace(arrangement.CoverImageAttributions))
                    {
                        <div class="pxl-html-attribution">Foto: @Html.Raw(arrangement.CoverImageAttributions)</div>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">Oj, här var det lite tomt</h5>
                <div class="card-text">
                    <p>Antingen har vi inte riktigt hunnit lägga till några kalas i @Model.CityName ännu eller så har vi helt enkelt inte hittat några.</p>
                    <p>Har du några idéer på kalas som skulle kunna finnas här? Hör då gärna av dig till oss på <a href="mailto:info@fixabarnkalaset.se">info@fixabarnkalaset.se</a> så ska vi definitivt försöka lägga till dem.</p>
                </div>
            </div>
        </div>
    }

    @if (Model.Arrangements.Any())
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Tycker du att något kalas saknas?</h5>
                <div class="card-text">Hör då gärna av dig till oss på <a href="mailto:info@fixabarnkalaset.se">info@fixabarnkalaset.se</a> så ska vi definitivt försöka lägga till det.</div>
            </div>
        </div>
        <div class="text-right">
            <img src="~/images/powered_by_google_on_white_hdpi.png" alt="Powered by Google" width="125" />
        </div>
    }
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.2.0/lazyload.min.js"></script>
    <script>
        var myLazyLoad = new LazyLoad({
            elements_selector: ".lazy"
        });
    </script>
}

