@model Pixel.FixaBarnkalaset.Web.Models.ArrangementsIndexViewModel

<div class="ui main container pxl-page pxl-page-arrangements-index">
    <div class="ui breadcrumb">
        <a class="section" href="@Url.Action("Index", "Home")">Hem</a>
        <i class="right angle icon divider"></i>
        <div class="active section">@Model.CityName</div>
    </div>

    <h1 class="ui huge header">Barnkalas i @Html.DisplayFor(m => m.CityName)</h1>
    <p>Här hittar du olika ställen som arrangerar barnkalas i @Model.CityName. Det är ett enkelt sätt att ge ditt barn ett fantastiskt kalas med sina kompisar utan att behöva städa och fixa hemma.</p>

    @if (Model.Arrangements.Any())
    {
        <div class="ui stackable grid">
            @foreach (var arrangement in Model.Arrangements)
            {
                <div class="six wide tablet four wide computer column">
                    <a class="ui fluid card" href="@Url.Action("Details", new {citySlug = Model.CitySlug, arrangementSlug = arrangement.Slug})">
                        <div class="image" style="background-image: url('@arrangement.CoverImage');"></div>
                        <div class="content">
                            <div class="header">@Html.DisplayFor(m => arrangement.Name)</div>
                            <div class="meta">@Html.DisplayFor(m => arrangement.Type)</div>
                            <div class="description">
                                @Html.DisplayFor(m => arrangement.Pitch)
                            </div>
                        </div>
                    </a>
                    @if (!string.IsNullOrWhiteSpace(arrangement.CoverImageAttributions))
                    {
                        <div class="pxl-html-attribution">Foto: @Html.Raw(arrangement.CoverImageAttributions)</div>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="ui padded segment">
            <p class="ui medium header">Oj, här var det lite tomt</p>
            <p>Antingen har vi inte riktigt hunnit lägga till några kalas i @Model.CityName ännu eller så har vi helt enkelt inte hittat några.</p>
            <p>Har du några idéer på kalas som skulle kunna finnas här? Hör då gärna av dig till oss på <a href="mailto:kontakt@fixabarnkalaset.se">kontakt@fixabarnkalaset.se</a> så ska vi definitivt försöka lägga till dem.</p>
        </div>
    }

    @if (Model.Arrangements.Any())
    {
        <div class="ui padded segment">
            <p class="ui small header">Tycker du att något kalas saknas?</p>
            <p>
                Hör då gärna av dig till oss på <a href="mailto:kontakt@fixabarnkalaset.se">kontakt@fixabarnkalaset.se</a> så ska vi definitivt försöka lägga till det.
            </p>
        </div>
    }
    <img src="~/images/powered_by_google_on_white_hdpi.png" alt="Powered by Google" width="125" />
</div>
