@using Pixel.FixaBarnkalaset.Web.Models
@model Pixel.FixaBarnkalaset.Web.Models.ArrangementIndexViewModel

<div class="ui main container pxl-block">
    <h1 class="ui huge header">@Html.DisplayFor(m => m.CityName)</h1>

    <div class="ui cards">
        @foreach (var arrangement in Model.Arrangements)
        {
            <div class="card pxl-arrangements-list-card">
                <div class="image" style="background-image: url('@arrangement.CoverImage'); background-size: cover; height: 200px">
                </div>
                <div class="content">
                    <a class="header" href="@Url.Action("Details", new { citySlug = Model.CitySlug, arrangementSlug = arrangement.Slug })">@arrangement.Name</a>
                    <div class="description">
                        @arrangement.Pitch
                    </div>
                </div>
            </div>
        }
    </div>
</div>
