@using Microsoft.AspNetCore.Identity
@using Pixel.Kidsparties.Infrastructure.Identity
@model Pixel.Kidsparties.Web.Controllers.HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

@*<div class="mdl-color--accent">
    <div class="layout--column mdl-color-text--white mdl-typography--text-center">
        <h1 class="mdl-typography--display-4 pixel-typography--line-height-dobuble">Vi hjälper dig hitta det perfekta barnkalaset!</h1>
    </div>
</div>*@    

<div class="layout--column mdl-typography--text-center slogan">
    <h1 class="mdl-typography--display-2 slogan__title">Hitta det perfekta barnkalaset</h1> 
    <p class="mdl-typography--headline slogan__subtitle">Vi har samlat en massa bra ställen som hjälper dig att fixa det perfekta barnkalaset för just ditt barn och hans/hennes kompisar.</p>
    <div class="slogan__select-wrapper">
        <select class="nice-select wide">
            <option value="">Välj stad...</option>
            <option value="stockholm">Stockholm</option>
            <option value="goteborg">Göteborg</option>
            <option value="malmo">Malmö</option>
            <option value="halmstad">Halmstad</option>
        </select>
    </div>
    <section>
        @if (SignInManager.IsSignedIn(User))
        {
            <h1>Inloggad!</h1>
        }
        @{
            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>

</div>


@*<div class="mdl-grid layout--column">
    <div class="mdl-cell mdl-cell--4-col">
        <h4 class="mdl-color-text--primary">Södra Sverige</h4>
        <ul class="demo-list-item mdl-list">
            @foreach (dynamic city in Model.CitiesInSouth)
            {
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">@city</span>
                </li>
            }
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h4 class="mdl-color-text--primary">Mellersta Sverige</h4>
        <ul class="demo-list-item mdl-list">
            @foreach (dynamic city in Model.CitiesInMiddle)
            {
                <li class="mdl-list__item">
                    <a href="http://www.di.se"><span class="mdl-list__item-primary-content">@city</span></a>
                </li>
            }
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h4 class="mdl-color-text--primary">Norra Sverige</h4>
        <ul class="demo-list-item mdl-list">
            @foreach (dynamic city in Model.CitiesInNorth)
            {
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">@city</span>
                </li>
            }
        </ul>
    </div>
</div>*@

<div class="mdl-grid">
    @*@foreach (var arrangement in Model)
    {
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">@Html.DisplayFor(modelItem => arrangement.Name)</div>

    }*@
    @*https://codepen.io/arnaudin/pen/RPvjwz*@
</div>

@section Scripts
{
    <script>
        $("select").change(function () {
            if ($(this).val() !== "") {
                window.location = window.location + $(this).val();
            }
        });
    </script>
}