@using Microsoft.AspNetCore.Identity
@using Pixel.Kidsparties.Infrastructure.Identity
@model Pixel.Kidsparties.Web.Models.HomeIndexViewModel
@inject SignInManager<ApplicationUser> SignInManager

<div class="ui main container">
    <h1>Hitta det perfekta barnkalaset</h1>
    <p>Vi har samlat en massa bra ställen som hjälper dig att fixa det perfekta barnkalaset för just ditt barn och hans/hennes kompisar.</p>
    <select id="citySelector" class="dropdown">
        <option value="">Välj stad...</option>
        @foreach (var city in Model.Cities)
        {
            <option value="@Url.Action("Index", "Arrangements", new { citySlug = city.Slug })">@city.Name</option>
        }
    </select>
</div>
@*<section>
        @if (SignInManager.IsSignedIn(User))
        {
            <h1>Inloggad!</h1>
        }
        @{
            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
            if (loginProviders.Count == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>*@


@section Scripts
{
    <script>
        $('select.dropdown').dropdown();
        $('select#citySelector').change(function () {
            if ($(this).val() !== "") {
                window.location = $(this).val();
            }
        });
    </script>
}
