@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">*@

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" />*@
    <link href="~/lib/semantic.css" rel="stylesheet" />
    <link href="~/css/public-style.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header class="pxl-header">
        <div class="ui container pxl-group">
            <div class="pxl-header-brand">
                @Html.ActionLink("Fixa barnkalaset", "Index", "Home")
            </div>
            <div class="ui right pxl-header-menu-right">
                <a>
                    <i class="user icon"></i>
                </a>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="pxl-footer">
        <div class="ui container">
            Fixa barnkalaset av <a href="http://www.pixeldigitalbyra.se">Pixel Digitalbyrå</a>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
