@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using Pixel.FixaBarnkalaset.Infrastructure.Identity
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userProfilePictureUrl = "";
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        userProfilePictureUrl = $"https://graph.facebook.com/v2.9/{user.NameIdentifier}/picture";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"]</title>*@
    <title>Fixa barnkalaset!</title>
    @Html.Partial("_Favicons")

    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">

    <link href="~/lib/semantic/semantic.min.css" rel="stylesheet" />
    <link href="~/css/public-style.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment pxl-hero">
            <div class="ui container">
                <div class="ui large secondary inverted menu">
                    <div class="header item pxl-brand">
                        @Html.ActionLink("Fixa barnkalaset", "Index", "Home")
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="right item">
                            <img id="userProfilePicture" class="ui mini circular image" src="@userProfilePictureUrl">
                        </div>
                    }
                    @*else
                    {
                        <div class="right item">
                            <a href="@Url.Action("Login", "Account")">
                                @*<i class="large user circle outline icon"></i>
                                <i class="bordered circular user link icon pxl-icon"></i>
                            </a>
                        </div>
                    }*@
                </div>
            </div>

            @RenderSection("Hero", false)

        </div>

        @RenderBody()

        <div class="ui center aligned vertical footer segment">
            <div class="ui container">
                Fixa barnkalaset av <a href="http://www.pixeldigitalbyra.se">Pixel Digitalbyrå</a>.<br/>Med reservation för inaktuella och/eller felaktiga uppgifter.
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>



