@model Pixel.FixaBarnkalaset.Web.Models.BlogPostDetailsViewModel

<div class="ui main text container pxl-public-page pxl-public-page--blog-posts-details">
    <div class="ui breadcrumb">
        <a class="section" href="@Url.Action("Index", "Home")">Hem</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="@Url.Action("Index", "BlogPosts")">Barnkalasbloggen</a>
    </div>

    <h1 class="ui large header center aligned">@Model.Title</h1>
    
    @if (Model.PublishedUtc.HasValue)
    {
        <p class="center aligned">@Model.PublishedUtc.Value.ToLocalTime().ToString("dd MMMM yyyy")</p>
    }

    <p>@Html.Raw(Model.Body)</p>
</div>
