@model Pixel.FixaBarnkalaset.Web.Models.BlogPostDetailsViewModel

<div class="container pxl-public-page pxl-blog-posts-details-page">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Hem</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "BlogPosts" )">Barnkalasbloggen</a></li>
        </ol>
    </nav>

    <article itemscope itemtype="http://schema.org/BlogPosting">

        <h1 class="text-center mb-3" itemprop="name">@Model.Title</h1>

        @if (Model.PublishedUtc.HasValue)
        {
            <p class="text-center" itemprop="datePublished">@Model.PublishedUtc.Value.ToLocalTime().ToString("dd MMMM yyyy")</p>
        }

        <div itemprop="articleBody">@Html.Raw(Model.Body)</div>
    </article>
</div>
