@model Pixel.FixaBarnkalaset.Web.Models.InvitationCardsModels.WhichViewModel

@section MetaData
    {
    <meta name="robots" content="noindex">
}

<div class="ui main container pxl-public-page pxl-public-page--invitation-cards-which">
    <h1 class="ui medium header">Gäster</h1>
    
    <div class="ui relaxed list">
        @foreach (var invitation in Model.Invitations)
        {
            <div class="item">
                <div class="right floated content">
                    <a data-remove-invitation-button data-invitation-id="@invitation.Id"><i class="large remove icon"></i></a>
                </div>
                <div class="content">
                    <div class="header">@invitation.FullName</div>
                    <div class="description">@invitation.FullAddress</div>
                </div>
            </div>
        }
    </div>

    @*<table class="ui table" id="invitationTable">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Gatuadress</th>
                <th>Postnummer</th>
                <th>Postort</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invitation in Model.Invitations)
            {
                <tr data-invitation-id="@invitation.Id">
                    <td>@invitation.FirstName</td>
                    <td>@invitation.LastName</td>
                    <td>@invitation.StreetAddress</td>
                    <td>@invitation.PostalCode</td>
                    <td>@invitation.PostalCity</td>
                    <td><a data-remove-invitation-button data-invitation-id="@invitation.Id"><i class="trash outline link icon"></i></a></td>
                </tr>
            }
        </tbody>
    </table>*@
    <div class="ui tiny error message hidden" id="removeErrorMessage">Det gick inte att ta bort gästen, försök igen.</div>

    <button class="ui positive labeled icon button" id="addGuestButton"><i class="plus icon"></i>Lägg till</button>

    <a href="@Url.Action("Rsvp", null, new { partyId = Model.Id })" class="ui button right floated">Fortsätt</a>


    <div class="ui tiny modal" data-party-id="@Model.Id">
        <i class="close icon"></i>
        <div class="header">
            Lägg till gäst
        </div>
        <div class="content">
            <div class="ui tiny error message hidden">Det gick inte att lägga till gästen, försök igen.</div>
            <form class="ui form unstackable">
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Förnamn</label>
                            <input type="text" name="FirstName" value="Kalle">
                        </div>
                        <div class="field">
                            <label>Efternamn</label>
                            <input type="text" name="LastName" value="Karlsson">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Gatuadress</label>
                    <input type="text" name="StreetAddress" value="Korsvägen 11">
                </div>
                <div class="field">
                    <div class="fields">
                        <div class="four wide field">
                            <label>Postnummer</label>
                            <input type="text" name="PostalCode" value="302 56">
                        </div>
                        <div class="eight wide field">
                            <label>Postort</label>
                            <input type="text" name="PostalCity" value="Halmstad">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui cancel button">
                Avbryt
            </div>

            <div class="ui positive right labeled icon button">
                Lägg till
                <i class="plus icon"></i>
            </div>
        </div>
    </div>
</div>
